<img
  src="{{ url_for('static', filename='img/dino.gif') }}"
  alt="dinosaur playing with balls"
  class="fixed animate-[spin_10s_linear_infinite] z-0 opacity-70"
  width="330"
/>
<img
  src="{{ url_for('static', filename='img/dino.gif') }}"
  alt="dinosaur playing with balls"
  class="fixed left-0 bottom-[20%] animate-[spin_5s_linear_infinite] z-0 opacity-70"
  width="350"
/>
<img
  src="{{ url_for('static', filename='img/boxer.gif') }}"
  alt="dinosaur swinging its arms"
  class="fixed right-[50%] bottom-[40%] animate-[spin_15s_linear_infinite] z-0 opacity-70"
  width="190"
/>
<img
  src="{{ url_for('static', filename='img/velociraptor.gif') }}"
  alt="its a... velociraptor... yeah..."
  class="fixed right-[10%] top-[10%] animate-[spin_20s_linear_infinite] z-0 opacity-70"
  width="190"
/>
<img
  src="{{ url_for('static', filename='img/tricera.gif') }}"
  alt="triceratops"
  class="fixed right-[10%] bottom-[10%] animate-[spin_12s_linear_infinite] z-0 opacity-70"
  width="190"
/>
<img
  src="{{ url_for('static', filename='img/dino.gif') }}"
  alt="dinosaur playing with balls"
  class="fixed right-0 bottom-[50%] animate-[spin_8s_linear_infinite] z-0 opacity-70"
  width="250"
/>
